$bodybgcolor: #ffdd00;

$checklistbgcolor: $bodybgcolor;
$checklistbordercolor: rgba(170,52,36,1);

$itembgcolor: #fff;
$itembordercolor: rgba(150,60,30,0.5);
$itemshadowcolor: rgba(200,60,0,0.5);

$itemimagebgcolor: rgba(170,52,36,1);

$numberbgcolor: #fff;
$numbertextcolor: #000;

$textshadowcolor: rgba(170,52,36,0.6);
$headingshadowcolor: $textshadowcolor;

$namebgcolor: rgba(170,52,36,0.6);
$nametextcolor: rgba(255,255,255,0.8);

$seriestitlebgcolor: $itembordercolor;
$seriescountbgcolor: #fff;
$seriescountbordercolor: rgba(100,80,40,0.3);; // #000;