.series-item-list-item { width: 238px; }
.series-item-list-item.nocolors-item { width: 181px; }

.base { position: absolute; height: 212px; }

.nocolors-item .base { position: static; }

.main-image { width: 175px; }

.name { width: 175px; }

.series-sub-list { margin-left: 176px; height: 212px; }

.custom-checkbox.sticker { bottom: 10px; top: auto; }

.bg-s1-lime { background-color: #63BC46; }

.fg-s1-lime { color: #63BC46; }

.bg-s1-green { background-color: #09AB4B; }

.fg-s1-green { color: #09AB4B; }

.bg-s1-dark-blue { background-color: #2B67B2; }

.fg-s1-dark-blue { color: #2B67B2; }

.bg-s1-blue { background-color: #0570AE; }

.fg-s1-blue { color: #0570AE; }

.bg-s1-purple { background-color: #682977; }

.fg-s1-purple { color: #682977; }

.bg-s1-green { background-color: #129E49; }

.fg-s1-green { color: #129E49; }

.bg-s1-aqua { background-color: #39C2D5; }

.fg-s1-aqua { color: #39C2D5; }

.bg-s1-gray { background-color: #84857E; }

.fg-s1-gray { color: #84857E; }

.bg-s1-brown { background-color: #65411D; }

.fg-s1-brown { color: #65411D; }

.bg-s1-mustard { background-color: #E9C51D; }

.fg-s1-mustard { color: #E9C51D; }

.bg-s1-black { background-color: #000000; color: #cccccc; }

.fg-s1-black { color: #000000; }

.bg-s1-olive { background-color: #658D2E; }

.fg-s1-olive { color: #658D2E; }

.bg-s1-yellow { background-color: #FAEE52; }

.fg-s1-yellow { color: #FAEE52; }

.bg-s1-orange { background-color: #F6861F; }

.fg-s1-orange { color: #F6861F; }

.bg-s1-red { background-color: #CC2628; }

.fg-s1-red { color: #CC2628; }

.bg-s1-berry { background-color: #C7228E; }

.fg-s1-berry { color: #C7228E; }

.bg-s1-light-orange { background-color: #F5C216; }

.fg-s1-light-orange { color: #F5C216; }

.bg-s1-white { background-color: #ffffff; }

.fg-s1-white { color: #ffffff; }

.bg-s1-light-blue { background-color: #75B2DA; }

.fg-s1-light-blue { color: #75B2DA; }

.bg-s1-light-gray { background-color: #E5D3E6; }

.fg-s1-light-gray { color: #E5D3E6; }

.bg-s1-pink { background-color: #E6587A; }

.fg-s1-pink { color: #E6587A; }

.bg-s1-light-yellow { background-color: #E9EC97; }

.fg-s1-light-yellow { color: #E9EC97; }

.bg-s1-light-pink { background-color: #F594AB; }

.fg-s1-light-pink { color: #F594AB; }
